
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #052049;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }  

button {
    background-color: dodgerblue;
}

.search-bar {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

#ucsf-nav-bar {
    background-color: #052049;
    width: 100%;
    
}

.badge-notify{
    background:red;
    
}

#ucsf-portal-info{
    background-color: #D3D3D3;

}

.site-card {

     padding: 25px;
     border: 15px;

 }

 .trigger-status {
     margin-left: 40%;
 }

